/* * {

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* @font-face {

    font-family: 'Joystix';
    src: url(/fontes/joystix.ttf);
}

@font-face {
    font-family: 'Arrows';    
    src: url(/fontes/arrows.ttf);
}

@font-face {
    font-family: 'OutriderCond';
    src: url(/fontes/outriderCond.ttf); 
}

@font-face {
    font-family: 'OutriderCondBold';
    src: url(/fontes/outriderCondBold.ttf);
}

@font-face {
    font-family: Computo;
    src: url(/fontes/computo.ttf);
} */

/* Aplica estilo ao elemento HTML e ao corpo da página. */
html,
body {
    /* Define um fundo preto (#000000) para o corpo da página. */
    background: #000000;
    /* Define a família de fontes a ser usada, com fallbacks para diferentes sistemas. */
    font-family: Joystix, Verdana, Geneva, sans-serif;
    /* Define a altura da viewport (altura visível da janela) como 100% da altura do dispositivo. */
    /* height: 100vh; */
    /* Define a posição como relativa em relação ao elemento pai. */
    /* position: relative; */
    /* Esconde a barra de rolagem, se necessário, para evitar rolagem horizontal. */
    overflow: hidden;
    /* Define a largura da viewport (largura visível da janela) como 100% da largura do dispositivo. */
    /* width: 100vw; */
}

/* Define as propriedades do contêiner. */
.container {
    /* Define a posição como relativa em relação ao elemento pai. */
    position: relative;
    /* Centraliza horizontalmente o elemento no centro da página 
        (auto significa que as margens laterais são automáticas). */
    margin: 0 auto;
}

/* Aplica estilo ao elemento canvas. */
canvas {
    /* Define a altura do elemento canvas como 100% da altura do elemento pai (contêiner). */
    height: 100%;
    /* Define a largura do elemento canvas como 100% da largura do elemento pai (contêiner). */
    width: 100%;
    /* Define um fundo de cor creme (#FAF6F2) para o elemento canvas. */
    background: #FAF6F2;

}




/* #info, #controleToques {

    color: white;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    width: 100%;
    list-style-type: none;
    font-weight: 700;
    font-size: 2vw;
    text-align: justify;
    z-index: 2;
    user-select: none;
}

#info {

    align-content: end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 3vw;
    padding-right: 0.5vw;
    top: 0vw;
    width: 100%;
}

.fpsCanvas {

    cursor: pointer;
    height: 3vw;
    margin-left: auto;
    margin-right: 0.2vw;
    opacity: 0.85;
    width: 4vw;

}

.controleBotoes {

    border-radius: 50%;
    display: block;
    font-size: 6vw;
    font-weight: 700;
    height: 10vw;
    width: 10vw;
    margin: 0 0.3em 0.5em;
    background: rgba(0, 0, 0, 0.05);
    color: #c0c0c0;
} */

/* .mutar {

    background: url(../img/outro/mute.png);
    background-size: cover;
    cursor: pointer;
    display: block;
    height: 3vw;
    width: 3vw;

} */

/* #controleToques {

    bottom: 0em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em ;
}

.hidden {
    display: none;
}
.filter {
    filter: brightness(75%);
} */

/* @media (hover: hover) and (pointer: fine) {

    #controleToques {

        display: none;
    }

    .container {

        height: min(100vh, 56.25vw);
    }
} */

/* .interfaceBotao {

    background: transparent;
    border: 0;
    height: 3vw;
    width: 3vw;
}

.imgTelaCheia {
    max-height: 96%;
    max-width: 96%;
} */